
html, body {
    background-color: #21232A;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    border-radius: 5px;
    height: 35px;
    min-width: 50px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 18px;
}

button:hover {
    background-color: #21232A;
    color: white;
}